<div>
<h1>Log in here</h1>

<form action="">
<label for="username">Username</label>
<input type="text" name="username">
<br>
<label for="password">Password</label>
<input type="text" name="password">
<br>
<label for="email">Email</label>
<input type="text" name="email">
<br>
<button type="submit" class="login-button">Log in</button>
</form>

</div>