<div>
<h2>Add a new artist</h2>

<form action="">

    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="yearBorn">Born in: </label>
    <input type="text" name="yearBorn">
    <br>
    <label for="description">Short description: </label>
    <input type="text" name="description">
    <br>
    <form action="">
    <label for="photo">Photo: </label>
    <input type="file" name="photo">
    <button class="add-photo">Add this photo</button>
    </form>

    <button class="btn-add-artist">Add this artist</button>
    <br>
</form>



</div>