<div class="p-3 mb-2 bg-warning text-dark">
<h2>All Playlists in PitchPlaylist:</h2>
<br>
{{#each allPlaylists}}
<div class="list-group">
<a href="/collection/{{this._id}}" class="list-group-item list-group-item-action"><li>{{this.title}}</li></a>
{{/each}}
</div>
</div>


