<div>
<h2>Edit your collection:</h2>

<form action="">

{{!-- ? coger el id del usuario --}}
<label for="creator">Created by: </label> 
<input type="text" name="creator" id="">

<label for="title">Title:</label>
<input type="text" name="title" id="">

<label for="artist">Artists:</label>
<input type="text" name="artist">


<a href=""><button class="btn-edit-collection">Edit your collection</button></a>
</form>


</div>