<h1>{{appTitle}} !</h1>

<div>
{{!-- <h1>Home</h1> --}}
<img src="" alt="logo">
<br>

<a href="/auth/signup"><button type="button" class="btn btn-dark">Sign up</button></a>


<a href="/auth/login"><button type="button" class="btn btn-dark">Log in</button></a>

</div>