
<div class="logo-container">
<div class="logo">

<img src="/images/pitch.png" alt="logo" style="width: 700px" height="600px">
<br>
<div class="buttons">
<a href="/auth/signup"><button type="button" class="btn btn-dark">Sign up</button></a>
<a href="/auth/login"><button type="button" class="btn btn-dark">Log in</button></a>
</div>

</div>
</div>