<div>

<h2>Title: </h2>
<h3>Created by: </h3>
</div>
<li>


</li>
<div>

<div>
    <h4>Comments</h4>
</div>
<br>
<a href=""><button class="btn-edit-collection">Edit your collection</button></a>
<br>
<a href=""></a><button class="btn-delete-collection">Delete your collection</button>


</div>