<div>
<img src="" alt="profile-photo">

<h2>Your username: </h2>
<h2>Your email: </h2>

{{!-- <h2>Your collections:</h2>
<li>
    
</li> --}}

<button class="btn-new-collection">Create a new collection</button>


</div>