<div class="p-3 mb-2 bg-success text-white">
    <br>
<h2>Your Playlists: </h2>
<br>
{{#each yourCollections}}
<div class="list-group">
<a href="/collection/{{this._id}}" class="list-group-item list-group-item-action"><li>{{this.title}}</li></a>
    {{/each}}
</div>


</div>