body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  
}

h1 {
  color: 15px;
}

.artist-container{
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.artist-card{
  display: flex;
 align-items: center;
  margin: 20px;
  flex-direction: row;
}


