
<div>
<h2>All artists in PitchPlaylist:</h2>  
{{#if isAdmin}}
    <a href="/artist/new-artist"> <button type="button" class="btn btn-dark">Create a new artist</button></a>  
</div>

      {{/if}}
   <br>   

    <div class="artist-container">
  <div class="artist-card">    

{{#each allArtists}}
 <img src="{{this.photo}}" alt="artist photo" width="200px">
<a href="/artist/{{this._id}}/info"><h6>{{this.name}}</h6></a>
   

{{/each}}
</div>
 
 </div>

